

.cupon-contacto{
    text-align:center;
    padding-bottom: 80px;
    
}


.divisor{
    height: 1px;
    background-color:#b5aeaef6;
    width:100%;
    margin:50px 0 50px 0
    
   
}

.divisor-email{
    height: 1px;
    background-color: black;
    width:40%;
    margin:5px 30% 5px 30%;
    margin-top: 25px;
    
}